* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #0B2434;
  display: flex;
  justify-content: center;

}

.container {
  /* padding: 0 20px; */
  margin-top: 40px;
  width: 520px;
  height: 520px;
  background: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

.header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  background-color: #277BC0;
  color: whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav h1 {
  font-family: 'Uncial Antiqua', cursive;
}

nav p {
  font-size: 0.85rem;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler--slider {
  width: 30px;
  height: 15px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 6px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.nums .toggler--slider {
  justify-content: flex-end;
}



.header p {
  padding: 10px;
  color: #4A4E74;
  width: 70%;
  text-align: center;
  /* margin-bottom: 8px; */
}

.totalRolls {
  height: 35px;
  width: 100px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #2C3333;
  color: #F5F5F5;
}

.gridBox {
  width: 100%;
  height: 180px;
  padding: 0 10px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  /* justify-content: space-evenly; */
  justify-items: center;
  /* align-content: space-evenly; */
  align-items: center;
}

.diceDiv {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 8px 10px;
}


.diceDiv p {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}


.dice {
  width: 100%;
  height: 100%;
}


.dot {
  display: block;
  width: 10px;
  height: 10px;
  /* background-color: #0B2434; */
  background-color: #2C3333;
  border-radius: 50%;
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.third-face .dot:nth-of-type(2) {
  align-self: center;
}

.third-face .dot:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fivth-face {
  display: flex;
  justify-content: space-between;
}

.fivth-face .column:nth-of-type(2) {
  align-self: center;
}

.fivth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sixth-face {
  display: flex;
  justify-content: space-between;
}

.sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnDiv {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.rollBtn {
  cursor: pointer;
  color: #F5F5F5;
  height: 45px;
  width: 140px;
  font-size: 1.25rem;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  background-color: #277BC0;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
}

.rollBtn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}


@media (max-width:530px) {
  .container {
    margin-top: 40px;
    width: 370px;
    height: 470px;
  }

  .gridBox {
    height: 150px;
  }

  .header p {
    width: 90%;
  }

  .diceDiv {
    width: 50px;
    height: 50px;
  }

  .dot {
    width: 8px;
    height: 8px;
  }

}